.pageheadtextbox
{       position: relative;
        display: flex;
        width: 40%;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        margin-bottom: 20px;
}
.headtext{
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;                    /* Important for gradient */
    color: transparent;
    background: linear-gradient(90deg, #495cff, #9B5CFF, #E05CFF);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow:
        0 0 20px rgba(41, 0, 107, 0.8),
        0 0 40px rgba(41, 0, 107, 0.6),
        0 0 80px rgba(41, 0, 107, 0.4);
}

.headbottomtext
{
    margin-top: 0px;
    padding-left: 35px;
    font-size: 15px;
    font-weight: 700;
    width: 180px;     /* Important for gradient */
    color: transparent;
    background: linear-gradient(90deg, #495cff, #9B5CFF, #E05CFF);
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow:
        0 0 20px rgba(41, 0, 107, 0.8),
        0 0 40px rgba(41, 0, 107, 0.6),
        0 0 80px rgba(41, 0, 107, 0.4);  
}
.pageheadtextcontainer
{
        display: flex;
        flex-direction: column;
}

.webdiscription
{
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    background-color: #1f0075d2;
    box-shadow: 0 0 50px 10px #1b0064;
    column-gap: 20px;
    backdrop-filter: blur(4px);
}

.webdiscriptionpart1
{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.webheadline1
{
    font-family: Arial;
    color: rgb(142, 72, 255);
}
.pfp
{   
    margin-top: 10px;
    border-radius: 50%;
}
.webdiscriptionpart2
{
    padding-left: 10px;
}
.infotextweb
{
    
    line-height: 25px;
    color: rgb(142, 72, 255);
}
.webdiscriptionright2
{
    margin-left: 20px;
}
.moreinfohlink
{
    color: rgb(95, 0, 247);
}
.moreinfohlink:active
{
    color: rgb(147, 82, 250);
}