        .subscribe-button {
        margin-top: 0px;
        font-size: 12.5px;
        font-weight: bold;
        color: rgb(24, 23, 23);
        background-color: white;
        border: none;
        border-radius: 20px;
        width: 90px;
        height: 30px;
        cursor: pointer;
        transition: opacity 0.15s,background-color 0.1s;
      }
      .subscribe-button:hover {
        opacity: 0.8;
      }
      .subscribe-button:active {
        background-color: rgb(255, 67, 67);
        opacity: 1;
      }